################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Tools.Insert-Upperline-Vs/bin
/Tools.Insert-Upperline-Vs/obj
